@model IEnumerable<MusicStore.Models.Database.Movie.MovieGenre>

<ul id="categories">
    @foreach (var genre in Model)
    {
        <li>@Html.ActionLink(genre.MovieGenreName,
            "Browse", "Store",
            new { Genre = genre.MovieGenreName }, null)
        </li>
    }
</ul>
